@media (min-width: 380px) {
   .collapse-menu {
      width: 26rem;
   }

   .header-box__describe {
      width: 350px;
   }

   .header-box__title {
      width: 350px;
   }
   .serv {
      margin: 0 1.5rem 1.5rem 1.5rem;
   }
   .place {
      margin: 1.5rem !important;
   }
}

@media (max-width: 385px) {
   .viewall__btn {
      margin-top: 3rem;
   }
}
/* 
@media (min-width: 460px) and (max-width: 847px) {
   .newslettr__img {
      max-width: 40rem;
   }
} */

@media (min-width: 847px) {
   .newsletter {
      flex-direction: row-reverse;
   }

   .newslettr__content {
      padding-right: 3rem;
   }

   .footer-content-wraper {
      /* flex-direction: row; */
      /* background-color: red; */
   }

   .footer-tips {
      /* background-color: aqua; */
      padding: 3rem;
   }

   .footer-pages {
      display: flex;
      justify-content: space-between;
      /* background-color: blue; */
      padding-top: 3rem;
   }

   .download-app {
      /* background-color: burlywood; */
   }
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
   .menu-opener {
      display: none;
   }
   .collapse-menu {
      display: none;
   }
   .main-menu {
      display: flex;
   }
   .main-menu__link--respo {
      display: none;
   }
   .accont {
      display: flex;
      margin-left: auto;
   }
   .nav-menu {
      justify-content: start;
   }

   .footer {
      margin-top: 18rem;
   }

   .scroll-up {
      left: auto;
      right: 1.5rem;
   }
}
@media (min-width: 992px) {
   .main-menu__link--respo {
      display: list-item;
   }

   .newsletter {
      padding-left: 7rem;
      padding-right: 7rem;
      justify-content: center;
      align-items: center;
   }
   .newslettr__content {
      padding-right: 6rem;
   }
}
@media (min-width: 1200px) {
   .newsletter__form {
      margin-top: 5rem;
   }

   .footer-tips {
      margin-right: 7rem;
   }

   .download-app {
      margin-top: 4rem;
      margin-bottom: 8rem;
   }

   .footer-content-wraper {
      flex-direction: row;
      /* flex-wrap: wrap; */
   }
}
